/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

  
   * {
    margin: 0;
    padding: 0;
    font-family:minhaFonte;


}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
    font-family:minhaFonte;

    
}

input {
    height: 20px;
    width: 500px;
    border-top:none;
    border-right: none;
    border-left: none;

}

button:focus {
    color: white;
}

img {
    width: 100px;
    opacity: 0.7;
}
img:hover{
    background-color: #2274a5;
}

div>p:first-child {
    display: inline;
    font-family: minhaFonte;
}

div img {
    display: inline;

}

.botao-amarelo {
    position: relative;
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin: 50px;
    
}

.botao-amarelo:hover {
    background-color: #c44f00;
    
}

.container {
    padding: 2%;
    height: 500px;
    text-align: center;
    font-family: minhaFonte;
list-style-position:inside; 
}

.icone {
    height: 15px;
    width: auto;
}




/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    padding: 23;
    background-color: #2274a5;
    color: white;
    text-align: center;
    font-family: minhaFonte;
}

#container-de-descricao > ol {
  display: inline;
  margin: 20px;
  width: 100%;
  font-family: minhaFonte;
  list-style-position: inside;
  

    
}

#container-para-comprar {
    background-color: #e7eb90;
    font-family: minhaFonte;
    display: block;
    width: auto;
    height: auto;
    text-align: center;

}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    font-family: minhaFonte;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
    font-family: minhaFonte;
   
}
    

table {
    
    
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-family: minhaFonte;
   
    
}

td button {

    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;

}
td button:hover{
    background-color: burlywood;
}


.container-do-search {
    margin-top: 30px;
    height: 100px;
    
}
.container-do-search :active{
    color: #c44f00;

}


#back-button {
  
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    text-align: center;
    position: relative;

}

#back-button:hover {
    background-color: #635a3d
}